<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="Digital marketing agency, Digital marketing company, Digital marketing services">
	<meta name="description" content="DollarSparks.">
	<meta property="og:site_name" content="DollarSparks">
	<meta property="og:url" content="https://heloshape.com/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Dollarsparks">
	<meta name='og:image' content='images/assets/ogg.png'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#1d2b40">
	<meta name="msapplication-navbutton-color" content="#1d2b40">
	<meta name="apple-mobile-web-app-status-bar-style" content="#1d2b40">
	<title>Dollarsparks</title>
	<link rel="icon" type="image/png" sizes="56x56" href="images/fav-icon/icon.png">
	<link rel="stylesheet" type="text/css" href="css/style.css" media="all">
	<link rel="stylesheet" type="text/css" href="css/responsive.css" media="all">
	<style>
		.svg-img{
			height: 320px;
			border-radius: 50%;
		}
		@media screen and (max-width: 994px) {
  .svg-img {
    height: 220px;
  }}
		@media screen and (min-width: 995px) and (max-width: 1205px) {
  .svg-img {
    height: 245px;
  }
}
	</style>
</head>

<body>
	<div class="main-page-wrapper">

		<div id="preloader">
			<div id="ctn-preloader" class="ctn-preloader">
				<div class="animation-preloader">
					<div class="icon"><img src="images/logo/logo_01.svg" alt="" class="m-auto d-block" width="40"></div>

				</div>
			</div>
		</div>

		<header class="theme-main-menu sticky-menu theme-menu-seven white-vr">
			<div class="inner-content position-relative">
				<div class="d-flex align-items-center justify-content-between">
					<div class="logo order-lg-0"><a href="index.html" class="d-block">
							<h3 class="fw-normal main-title text-white font-recoleta">Dollarsparks.</h3>
						</a></div>

					<div class="right-widget d-flex align-items-center ms-auto ms-lg-0 order-lg-3">

						<a href="signup.html" class="signup-btn-two fw-500 tran3s d-none d-lg-block">Apply Now</a>
					</div> <!-- /.right-widget -->

					<nav class="navbar navbar-expand-lg order-lg-2">
						<button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse"
							data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
							aria-label="Toggle navigation">
							<span></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav">
								<li class="d-block d-lg-none">
									<div class="logo"><a href="index.html" class="d-block"><img
												src="images/logo/logo_06.png" alt="" width="76"></a></div>
								</li>
								<li class="nav-item active">
									<a class="nav-link " href="index.html" role="button">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link " href="about.html" role="button">About Us</a>

								</li>
								<li class="nav-item">
									<a class="nav-link " href="contact.html" role="button">Contact</a>

								</li>
							</ul>
							<!-- Mobile Content -->
							<div class="mobile-content d-block d-lg-none">
								<div class="d-flex flex-column align-items-center justify-content-center mt-70">
									<a href="signup.html" class="signup-btn-two fw-500 tran3s">Sign Up</a>
								</div>
							</div> <!-- /.mobile-content -->
						</div>
					</nav>
				</div>
			</div> <!-- /.inner-content -->
		</header> <!-- /.theme-main-menu -->

		<div class="hero-banner-nine position-relative zn2 pt-150 md-pt-150">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 wow fadeInLeft">
						<h1 class="hero-heading fw-normal text-white font-recoleta">
							<span id="header-element"></span>
							<br>
							quality<div class="position-relative"
								style="animation: prXOne 3.5s linear infinite; display: inline-block; left: 4.8%;">
								leads<img src="images/shape/shape_114.svg" alt=""></div> with ease.
						</h1>
						<p class="sub-text mt-20 mb-45 lg-mb-30">Transform your business into a sales powerhouse today
							and experience revenue growth <span class="text-white">3x faster</span>.</p>
						<span class="fs-18 opacity-50 text-white">Zero Risk: No Pay Unless Leads Generated!</span>
						<div class="d-lg-flex align-items-center mt-10">
							<a href="contact-us-v4.html"
								class="demo-btn fw-500 tran3s d-inline-flex align-items-center mb-25 me-4"><span>Apply Now</span> <img src="images/icon/icon_91.svg" alt="" class="ms-3"></a>
						</div>
					</div>
				</div>
			</div> <!-- /.container -->
			<div class="image-gallery wow fadeInRight">
				<div class="row align-items-center">
					<div class="col-12">
						<img src="images/assets/ils_02.svg" data-src="images/assets/ils_02.svg" alt="" width="1600px"
							class="lazy-img main-img" style="object-fit: fill;">
					</div>
				</div>
			</div> <!-- /.image-gallery -->

			<div class="partner-section-five position-relative mt-130 lg-mt-100">
				<div class="wrapper m-auto">
					<div class="d-xl-flex align-items-center justify-content-between">
						<h3 class="title tx-dark d-flex justify-content-center align-items-center ms-5 lg-pb-30"><span
								class="font-recoleta">Connect with us .</span> <span
								class="ms-4 d-none d-sm-inline-block"><img src="images/lazy.svg"
									data-src="images/shape/shape_119.svg" alt="" class="lazy-img"></span></h3>
						<div class="logo-wrapper fw-500 tx-dark d-flex flex-wrap flex-xl-nowrap justify-content-center justify-content-xl-between">
							<div class="br-name">Google</div>
							<div class="br-name">.</div>
							<div class="br-name font-recoleta"> <a href="">Facebook</a> </div>
							<div class="br-name">.</div>
							<div class="br-name">Instagram</div>
							<div class="mx-5"></div>
							<div class="mx-5"></div>
							<div class="mx-5"></div>
							
						</div> <!-- /.logo-wrapper -->
					</div>
				</div> <!-- /.wrapper -->
			</div> <!-- /.partner-section-five -->
		</div> <!-- /.hero-banner-nine -->



		<!--
			=====================================================
				Feedback Section Eight
			=====================================================
			-->
		<div class="feedback-section-ten position-relative pt-200 lg-pt-150">
			<div class="container">
				<div class="position-relative">
					<div class="row">
						<div class="col-lg-5">
							<div class="title-style-ten text-center text-lg-start wow fadeInLeft">
								<div class="sc-title">Niche</div>
								<h2 class="main-title font-recoleta fw-normal tx-dark">Specialized <span
										class="position-relative">Service <img src="images/shape/shape_129.svg"
											alt=""></span>Sector.</h2>
							</div> <!-- /.title-style-ten -->
						</div>
					</div>

					<div class="slider-wrapper pt-70 lg-pt-40 wow fadeInUp">
						<div class="feedback_slider_ten">
							<div class="item">
								<div class="feedback-block-ten" style="background:#FFED4E;">
									<div class="cmp-name fw-100 tx-dark">Home Improvement & Furnitures</div>
									<div class="fs-18 tx-dark"></div>
									<p class="tx-dark mt-4 mb-7 lg-mt-3 lg-mb-5">

									<p style="font-size:15px; ">	• Tailored marketing strategies for contractors, remodelers, and DIY retailers.</p>
									<p style="font-size:15px; ">	• Social media advertising to reach interior design enthusiasts and homeowners. </p>
									<p style="font-size:15px; ">	• Local SEO optimization to target customers in specific regions or neighborhoods. </p>
										
									
									
								</div> <!-- /.feedback-block-ten -->
							</div>
							<div class="item">
								<div class="feedback-block-ten" style="background:#00FCFC;">
									<div class="cmp-name fw-100 tx-dark">Finance</div>
									<div class="fs-18 tx-dark"></div>
									<p class="tx-dark mt-4 mb-7 lg-mt-3 lg-mb-5">
								<!--	<p style="font-size:15px; ">	• Innovative marketing campaigns highlighting unique furniture designs and collections. </p>  -->
								<!--	<p style="font-size:15px; ">	<h4> Utilize social media platforms  </h4> </p> -->
									<p style="font-size:15px; ">  	• To share market insights.  </p>
									<p style="font-size:15px; ">• To share investment strategies and company updates   </p>
									<p style="font-size:15px; ">• To foster a community of engaged followers and generate leads. </p><br><br> <br>
									
								</div> <!-- /.feedback-block-ten -->
							</div>
							<div class="item">
								<div class="feedback-block-ten" style="background:#F27AFF;">
									<div class="cmp-name fw-100 tx-dark">Aesthetics </div>
									<div class="fs-18 tx-dark"></div>
									<p class="tx-dark mt-4 mb-7 lg-mt-3 lg-mb-5">
									<p style="font-size:15px; ">	• Targeted marketing solutions for cosmetic clinics, med spas, and skincare brands. </p>
									<p style="font-size:15px; ">	• Educational content on skincare routines, treatments, and product ingredients. </p>
									<p style="font-size:15px; ">	• Influencer partnerships with beauty bloggers and social media personalities. </p> <br><br>
									
								</div> <!-- /.feedback-block-ten -->
							</div>
							<div class="item">
								<div class="feedback-block-ten" style="background:#52C1FF;">
									<div class="cmp-name fw-100 tx-dark">Hair Transplant</div>
									<div class="fs-18 tx-dark"></div>
									<p class="tx-dark mt-4 mb-7 lg-mt-3 lg-mb-5">
									<p style="font-size:15px; ">	• Sensitive and informative marketing materials addressing common concerns about hair loss. </p>
									<p style="font-size:15px; ">	• Testimonials and success stories from satisfied patients to build trust and credibility. </p>
									<p style="font-size:15px; ">	• Localized advertising to target individuals seeking hair restoration services in specific areas. </p><br>
									
								</div> <!-- /.feedback-block-ten -->
							</div>
						</div> <!-- /.feedback_slider_ten -->
					</div> <!-- /.slider-wrapper -->

					<ul class="slider-arrows slick-arrow-five d-flex justify-content-center style-none wow fadeInRight">
						<li class="prev_f5 slick-arrow text-center tran3s" style=""><i class="bi bi-arrow-left"></i>
						</li>
						<li class="next_f5 slick-arrow text-center tran3s" style=""><i class="bi bi-arrow-right"></i>
						</li>
					</ul>
				</div>
			</div>
			<img src="images/shape/shape_130.svg" alt="" class="lazy-img shapes shape-one">
			<img src="images/shape/shape_131.svg" alt="" class="lazy-img shapes shape-two">
		</div> <!-- /.feedback-section-eight -->

		<!-- 
			=============================================
				Feature Section Thirty One
			============================================== 
			-->
		<div class="fancy-feature-thirtyOne position-relative zn2 pt-140 pb-140 lg-pt-100 lg-pb-70">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 col-lg-9 m-auto">
						<div class="title-style-ten text-center pb-40 lg-pb-20 wow fadeInUp">
							<h2 class="main-title font-recoleta fw-normal tx-dark">Get <span
									class="position-relative">Quality<img src="images/shape/shape_122.svg"
										alt=""></span> Leads</h2>
							<p class="fs-20 mt-20">Our digital advertising approach focuses on capturing the essential
								information you need to be able to generate a real ROI. </p>
						</div> <!-- /.title-style-ten -->
					</div>
				</div>
				<div class="row">
					
					<div class="col-md-4">
						<div class="card-style-fourteen text-center mt-30 wow fadeInUp" data-wow-delay="0.2s">
							<div class="icon"><img src="images/icon/icon_94.svg" data-src="images/icon/icon_94.svg" alt=""
									class="lazy-img m-auto"></div>
							<p class="text-uppercase fs-18 mt-60 lg-mt-30">accurate Information</p>
						</div> <!-- /.card-style-fourteen -->
					</div>
					<div class="col-md-4">
						<div class="card-style-fourteen text-center mt-30 wow fadeInUp" data-wow-delay="0.3s">
							<div class="icon"><img src="images/icon/icon_96.svg" data-src="images/icon/icon_96.svg" alt=""
									class="lazy-img m-auto"></div>
							<p class="text-uppercase fs-18 mt-60 lg-mt-30">Quality Leads</p>
						</div> <!-- /.card-style-fourteen -->
					</div>
					<div class="col-md-4">
						<div class="card-style-fourteen text-center mt-30 wow fadeInUp">
							<div class="icon"><img src="images/icon/icon_96_time.svg" data-src="images/icon/icon_96_time.svg" alt=""
									class="lazy-img m-auto svg-img" style="object-fit: none; "></div>
							<p class="text-uppercase fs-18 mt-60 lg-mt-30">No Time Wasting</p>
						</div> <!-- /.card-style-fourteen -->
					</div>
				</div>
			</div> <!-- /.container -->
			<img src="images/lazy.svg" data-src="images/shape/shape_124.svg" alt="" class="lazy-img shapes shape-one">
			<img src="images/lazy.svg" data-src="images/shape/shape_125.svg" alt="" class="lazy-img shapes shape-two">
		</div> <!-- /.fancy-feature-thirtyOne -->

		<div class="fancy-feature-thirty position-relative mt-190 pb-140 lg-mt-100 lg-pb-120 md-p0">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="wow fadeInLeft">
							<img src="images/media/img_48.png" data-src="images/media/img_48.png" alt="" class="">
						</div>
					</div>
					<div class="col-lg-6 ms-auto">
						<div class="block-style-four ps-xxl-5 ms-xxl-4 wow fadeInRight">
							<div class="title-style-ten">
								<div class="sc-title">THE PRIORITY</div>
											<h2 class="main-title font-recoleta fw-normal tx-dark">Our Clients Come First, <span
												class="position-relative">Always. <img src="images/shape/shape_122.svg"
													alt=""></span></h2>
							</div> <!-- /.title-style-ten -->
							<p class="fs-20 pt-30 pb-30 lg-pb-10 md-pt-10">We're proud when our clients become our friends.</p>
							<ul class="style-none list-item">
								<li>Amazing communication.</li>
								<li>Tailored solutions to meet your specific needs.</li>
								<li>Consistent reliability you can trust.</li>
							</ul>
							<div class="btn-eighteen position-relative d-inline-block tx-dark mt-35 lg-mt-20">Want to
								learn more? <a href="contact.html" class="fw-500 tran3s">Send us a message <i
										class="bi bi-arrow-right"></i></a></div>
						</div> <!-- /.block-style-four -->
					</div>
				</div>
			</div> <!-- /.container -->
			
		</div> <!-- /.fancy-feature-thirty -->

		<div class="fancy-short-banner-twelve position-relative zn2 pt-160 pb-150 lg-pt-120 lg-pb-120">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 m-auto text-center">
						<div class="title-style-ten wow fadeInUp">
							<h2 class="main-title font-recoleta fw-normal tx-dark">Have Any Project? <br> <span
									class="position-relative">Let’s Talk <img src="images/shape/shape_132.svg"
										alt=""></span> & Grow your Business</h2>
						</div> <!-- /.title-style-ten -->
						<p class="text-lg mt-45 mb-55 lg-mb-30 lg-mt-40 wow fadeInUp" data-wow-delay="0.2s">We’re ready
							to help you. Our expert is here, just send a message.</p>

						<a href="contact.html" class="btn-twenty fw-500 tran3s wow fadeInUp"
							data-wow-delay="0.3s">Send Message</a>
					</div>
				</div>
			</div>
			<div class="shapes shape-one"></div>
		</div> <!-- /.fancy-short-banner-twelve -->

		<div class="footer-style-nine theme-basic-footer zn2 position-relative">
			<div class="bg-wrapper">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-2 footer-intro mb-40">
							<div class="logo order-lg-0"><a href="index.html" class="d-block">
								<h3 class="fw-normal main-title text-white font-recoleta">Dollarsparks.</h3>
							</a></div>
						</div>
						<div class="col-lg-2 col-sm-4 mb-30">
							<h5 class="footer-title tx-dark fw-normal">Links</h5>
							<ul class="footer-nav-link style-none">
								<li><a href="index.html">Home</a></li>
								<li><a href="about.html">About us</a></li>
								<li><a href="contact.html">Contact Us</a></li>

							</ul>
						</div>
						
						<div class="col-lg-4 mb-30 form-widget">
							<h5 class="footer-title fw-normal">Newsletter</h5>
							<h6 class="pt-15 pb-20 text-white">Join our newsletter</h6>
							<form action="#" class="position-relative">
								<input type="email" placeholder="Enter your email">
								<button class="tran3s fw-500 position-absolute">Sign Up</button>
							</form>
							<div class="fs-14 mt-10 text-white opacity-50">We only send interesting and relevant emails.
							</div>
						</div>
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.bg-wrapper -->

			<div class="container">
				<div class="bottom-footer">
					<div class="row">
						<div class="col-lg-4 order-lg-0 mt-15">
							<ul class="d-flex justify-content-center justify-content-lg-start footer-nav style-none">
								<li><a href="faqV.html">Privacy &amp; Terms.</a></li>
								<li><a href="contact-us-v4.html">Contact Us</a></li>
							</ul>
						</div>
						<div class="col-lg-4 order-lg-2 mt-15">
							<ul class="d-flex justify-content-center justify-content-lg-end social-icon style-none">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
						<div class="col-lg-4 order-lg-1 mt-15">
							<p class="copyright text-center m0">Copyright @2024 DollarSparks Inc.</p>
						</div>
					</div>
				</div> <!-- /.bottom-footer -->
			</div>
			<div class="shapes shape-one"></div>
			<img src="images/shape/shape_134.svg" alt="" class="lazy-img shapes shape-two">
		</div> <!-- /.footer-style-nine -->


		<button class="scroll-top">
			<i class="bi bi-arrow-up-short"></i>
		</button>

		<!-- Load library from the CDN -->
		<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

		<!-- Setup and start animation! -->
		<script>
			var typed = new Typed('#header-element', {
				strings: ['Drive forward:', 'Zero risk:', 'Generate:', 'Spark progress:',],
				loop: true,
				typeSpeed: 50,
				backSpeed: 50,
				backDelay: 2000,
				showCursor: false
			});
		</script>

		<!-- jQuery first, then Bootstrap JS -->
		<!-- jQuery -->
		<script src="vendor/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- WOW js -->
		<script src="vendor/wow/wow.min.js"></script>
		<!-- Slick Slider -->
		<script src="vendor/slick/slick.min.js"></script>
		<!-- Fancybox -->
		<!-- Lazy -->
		<script src="vendor/jquery.lazy.min.js"></script>
		

		<!-- Theme js -->
		<script src="js/theme.js"></script>
	</div> <!-- /.main-page-wrapper -->
</body>

<!-- Mirrored from html.creativegigstf.com/jano/jano/index-9.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Apr 2024 17:08:29 GMT -->

</html>