

<div class="footer-style-nine theme-basic-footer zn2 position-relative">
    <div class="bg-wrapper">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-2 footer-intro mb-40">
                    <div class="logo order-lg-0"><a href="index.html" class="d-block">
                        <h3 class="fw-normal main-title text-white font-recoleta">Dollarsparks.</h3>
                    </a></div>
                </div>
                <div class="col-lg-2 col-sm-4 mb-30">
                    <h5 class="footer-title tx-dark fw-normal">Links</h5>
                    <ul class="footer-nav-link style-none">
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/about">About us</a></li>
                        <li><a routerLink="/">Contact Us</a></li>

                    </ul>
                </div>
                
                <div class="col-lg-4 mb-30 form-widget">
                    <h5 class="footer-title fw-normal">Newsletter</h5>
                    <h6 class="pt-15 pb-20 text-white">Join our newsletter</h6>
                    <form action="#" class="position-relative">
                        <input type="email" placeholder="Enter your email">
                        <button class="tran3s fw-500 position-absolute">Sign Up</button>
                    </form>
                    <div class="fs-14 mt-10 text-white opacity-50">We only send interesting and relevant emails.
                    </div>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.bg-wrapper -->

    <div class="container">
        <div class="bottom-footer">
            <div class="row">
                <div class="col-lg-4 order-lg-0 mt-15">
                    <ul class="d-flex justify-content-center justify-content-lg-start footer-nav style-none">
                        <li><a href="faqV.html">Privacy &amp; Terms.</a></li>
                        <li><a href="contact-us-v4.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 order-lg-2 mt-15">
                    <ul class="d-flex justify-content-center justify-content-lg-end social-icon style-none">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-4 order-lg-1 mt-15">
                    <p class="copyright text-center m0">Copyright  2024 DollarSparks Inc.</p>
                </div>
            </div>
        </div> <!-- /.bottom-footer -->
    </div>
    <div class="shapes shape-one"></div>
    <img src="assets/images/shape/shape_134.svg" alt="" class="lazy-img shapes shape-two">
</div> <!-- /.footer-style-nine -->