<div style="background-color: black; padding-top: 100px;"></div>
<div class="fancy-feature-fiftyOne position-relative mt-250 lg-mt-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 text-center m-auto wow fadeInUp">
                <div class="title-style-five mb-65 lg-mb-40">
                    <div class="sc-title-two fst-italic position-relative d-inline-block">Contact info</div>
                    <h2 class="main-title fw-500 tx-dark">Get in Touch.</h2>
                </div>
            </div>
        </div>
    </div> <!-- /.container -->
    <img src="images/lazy.svg" data-src="images/shape/shape_172.svg" alt="" class="lazy-img shapes shape-two">
</div> <!-- /.fancy-feature-fiftyOne -->

<div class="contact-section-one mt-60 lg-mt-30">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="address-block-two text-center mb-40 wow fadeInUp">
                    <div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"><img src="images/icon/icon_147.svg" alt=""></div>
                    <h5 class="title">Our Address</h5>
                    <p>1 wellers way, Wembley Park <br>London, HA9 0UJ</p>
                </div> <!-- /.address-block-two -->
            </div>
            <div class="col-md-4">
                <div class="address-block-two text-center mb-40 wow fadeInUp">
                    <div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"><img src="images/icon/icon_148.svg" alt=""></div>
                    <h5 class="title">Contact Info</h5>
                    <p>Open a chat or give us call at <br><a href="tel:07823654823" class="call">07823654823</a></p>
                </div> <!-- /.address-block-two -->
            </div>
            <div class="col-md-4">
                <div class="address-block-two text-center mb-40 wow fadeInUp">
                    <div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"><img src="images/icon/icon_149.svg" alt=""></div>
                    <h5 class="title">Email Us</h5>
                    <p>live chat service <br><a href="email:sales@dollarsparks.com" class="email">sales@dollarsparks.com</a></p>
                </div> <!-- /.address-block-two -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-9 m-auto">
                <h2 class="tx-dark text-center mt-100 mb-80 lg-mt-40 lg-mb-40 wow fadeInUp">Any question? Send us message.</h2>
            </div>
            <div class="col-xl-11 m-auto">
                <div class="form-style-one wow fadeInUp">
                    <form action="inc/contact.php" id="contact-form"  data-toggle="validator">
                        <div class="messages"></div>
                        <div class="row controls">
                            <div class="col-12">
                                <div class="input-group-meta form-group mb-30">
                                    <input type="text" placeholder="Your Name*" name="name" required="required" data-error="Name is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group-meta form-group mb-50">
                                    <input type="email" placeholder="Email Address*" name="email" required="required" data-error="Valid email is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group-meta form-group mb-30">
                                    <textarea placeholder="Your message*" name="message" required="required" data-error="Please,leave us a message."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-12"><button class="btn-twentyOne fw-500 tran3s d-block">Send Message</button></div>
                        </div>
                    </form>
                </div> <!-- /.form-style-one -->
            </div>
        </div>
    </div>

    <div class="map-area-one p-30 mt-120 lg-mt-80 wow fadeInUp">
        <div class="box-layout">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe class="gmap_iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3053.716833618552!2d-0.2837903465146036!3d51.561108517793315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876117e421f4109%3A0xba7a5a45acf81a0!2s1%20Wellers%20Wy.%2C%20Wembley%20Park%2C%20Wembley%20HA9%200UJ!5e0!3m2!1sen!2suk!4v1713717112321!5m2!1sen!2suk" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /.contact-section-one -->