<header class="theme-main-menu sticky-menu theme-menu-seven white-vr">
    <div class="inner-content position-relative">
        <div class="d-flex align-items-center justify-content-between">
            <div class="logo order-lg-0"><a href="index.html" class="d-block">
                    <h3 class="fw-normal main-title text-white font-recoleta">Dollarsparks.</h3>
                </a></div>

            <div class="right-widget d-flex align-items-center ms-auto ms-lg-0 order-lg-3">

                <a href="signup.html" class="signup-btn-two fw-500 tran3s d-none d-lg-block">Apply Now</a>
            </div> <!-- /.right-widget -->

            <nav class="navbar navbar-expand-lg order-lg-2">
                <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="d-block d-lg-none">
                            <div class="logo"><a href="index.html" class="d-block"><img
                                        src="images/logo/logo_06.png" alt="" width="76"></a></div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " href="index.html" role="button">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="/about" role="button">About Us</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="contact.html" role="button">Contact</a>

                        </li>
                    </ul>
                    <!-- Mobile Content -->
                    <div class="mobile-content d-block d-lg-none">
                        <div class="d-flex flex-column align-items-center justify-content-center mt-70">
                            <a href="signup.html" class="signup-btn-two fw-500 tran3s">Sign Up</a>
                        </div>
                    </div> <!-- /.mobile-content -->
                </div>
            </nav>
        </div>
    </div> <!-- /.inner-content -->
</header> <!-- /.theme-main-menu -->

